@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-barlow{
    font-family: "Barlow", serif;
}

body{
    font-family: 'Barlow', serif;
    background-color: #F9F6F5;

}

.active{
    color: #DD0101;
}