@tailwind base;
@tailwind components;
@tailwind utilities;

.font-barlow{
    font-family: "Barlow", serif;
}

body{
    font-family: 'Barlow', serif;
}

.active{
    color: #DD0101;
}


@keyframes colorSlide {
    0%, 25% {
      color: #2A2A2A; /* Default text color */
    }
    25%, 45% {
      color: #DD0101; /* Highlight color stays */
    }
    45%, 100% {
      color: #2A2A2A; /* Gradual transition back to default */
    }
  }
  
  .highlight {
    animation: colorSlide 12s infinite; /* Adjusted total duration */
  }
  
  .delay-1 {
    animation-delay: 2s; /* Second word starts at 2 seconds */
  }
  
  .delay-2 {
    animation-delay: 4s; /* Third word starts at 4 seconds */
  }
  
  .delay-3 {
    animation-delay: 6s; /* Fourth word starts at 6 seconds */
  }
  
  .delay-4 {
    animation-delay: 8s; /* Fifth word starts at 8 seconds */
  }
  
  .delay-5 {
    animation-delay: 10s; /* Fifth word starts after 4th word completes */
  }
  